<div ng-if="!ContentHome.socialAppId || !ContentHome.posts.length">
    <h3>Welcome To Social Plugin</h3>
</div>
<div ng-if="ContentHome.socialAppId" ng-style="{'height': ContentHome.height ? ContentHome.height-100+ 'px' : '800px'}" style="overflow-y:scroll;" class="infinite-scroll-parent">
    <div class="wrapper social-plugin" infinite-scroll-distance="0"
         data-infinite-container=".infinite-scroll-parent"
         infinite-scroll="ContentHome.getPosts()"
         infinite-scroll-disabled="ContentHome.noMore">
        <div class="social-item clearfix border-grey padded border-radius-three" ng-repeat="post in ContentHome.posts">
            <div class="padded padding-bottom-zero">
                <div class="head clearfix margin-bottom-fifteen">
                    <div class="col-xs-8 padding-left-zero pull-left">
                        <div class="media-holder pull-left">
                            <img ng-src="{{ContentHome.getUserImage(post.userId)}}">
                        </div>
                        <p class="text-primary ellipsis margin-top-ten margin-bottom-zero padding-left-ten">
                            <a class="text-primary">{{ContentHome.getUserName(post.userId)}}</a>
                        </p>
                    </div>
                    <div class="col-xs-3 padding-right-zero pull-right margin-top-ten text-right">
                        <span class="time-ago opacity-seventy">{{ContentHome.getDuration(post.createdOn) | convertTimeFormat}}</span>
                    </div>
                </div>
                <div class="copy margin-bottom-fifteen">
                    <p class="margin-zero">{{post.text | limitTo : (post.limit || 150) :0}}</a><snap ng-if="(post.text.length>150 && !post.seeMore)">...</snap><a ng-if="(post.text.length>150 && !post.seeMore)" ng-click="ContentHome.seeMore(post)">Read More</a></p>
                </div>
            </div>
            <div class="plugin-banner clearfix margin-bottom-fifteen" ng-if="post.imageUrl">
                <div class="plugin-slide text-center">
                    <img ng-src="{{post.imageUrl | cropImage : 555 : 337}}">
                </div>
            </div>
            <div class="social-footer padded padding-top-zero clearfix">
                <div class="icons col-xs-3 padding-left-zero pull-left">
                    <a class="social-icon">
                        <span class="icon icon-heart"></span>
                        <span class="number">{{post.likesCount}}</span>
                    </a>
                    <a class="social-icon margin-left-twenty" ng-click="ContentHome.loadMoreComments(post,'viewComment')">
                        <span class="icon icon-bubble"></span>
                        <span class="number">{{post.commentsCount}}</span>
                    </a>
                </div>
                <div class="status col-xs-9 padding-right-zero pull-right">
                    <div class="pull-right">
                        <p class="pull-left margin-bottom-zero" ng-hide="post.viewComments && post.comments.length"><a class="text-primary" ng-click="ContentHome.loadMoreComments(post,'viewComment')">View Comments</a></p>
                        <p class="pull-left margin-bottom-zero" ng-show="post.viewComments && post.comments.length"><a class="text-primary" ng-click="post.viewComments=post.viewComments==true?false:true">Hide Comments</a></p>

                        <p class="pull-left margin-bottom-zero margin-left-twenty" ng-click="ContentHome.banUser(post.userId, post._id)"><a class="text-danger">Ban User</a>
                        </p>

                        <p class="pull-left margin-bottom-zero margin-left-twenty"
                           ng-click="ContentHome.deletePost(post._id)"><a class="text-danger">Delete Post</a></p>
                    </div>
                </div>
            </div>
            <hr class="small margin-zero">
            <div ng-if="post.comments.length % 10 == 0 && post.viewComments && !post.moreComments" class="padding-top-ten head-btn text-center border-bottom-grey padding-bottom-ten">
                <a ng-click="ContentHome.loadMoreComments(post)">Show More Comments</a>
            </div>
            <div class="comments-list" ng-if="post.comments.length && post.viewComments">
                <div class="social-comment padded" ng-repeat="comment in post.comments">
                    <div class="head clearfix margin-bottom-zero">
                        <div class="col-xs-8 padding-left-zero pull-left">
                            <p class="text-primary ellipsis margin-bottom-zero">
                                <a class="text-primary">{{ContentHome.getUserName(comment.userId)}}</a>
                            </p>
                        </div>
                        <div class="col-xs-3 padding-right-zero pull-right text-right">
                            <span class="time-ago opacity-seventy">{{ContentHome.getDuration(comment.createdOn) | convertTimeFormat}}</span>
                        </div>
                    </div>
                    <div class="copy margin-bottom-five">
                        <p class="margin-zero">{{comment.comment}}</p>
                    </div>
                    <div class="plugin-banner clearfix margin-top-ten margin-bottom-fifteen">
                        <div class="plugin-slide text-center">
                            <img ng-src="{{comment.attachedImage}}">
                        </div>
                    </div>
                    <div class="social-footer clearfix">
                        <div class="icons col-xs-3 padding-left-zero pull-left">
                            <a class="social-icon">
                                <span class="icon icon-heart"></span>
                                <span class="number">{{comment.likesCount ? comment.likesCount : 0}}</span>
                            </a>
                        </div>
                        <div class="status col-xs-9 padding-right-zero pull-right">
                            <div class="pull-right">
                                <p class="pull-left margin-bottom-zero"><a class="text-danger">Ban User</a></p>
                                <p class="pull-left margin-bottom-zero margin-left-twenty" ng-click="ContentHome.deleteComment(post, comment._id)"><a class="text-danger">Delete Comment</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>