/* Join Group Link */
.head-btn a{
	display:block;
}

/* Group Single Post */
.social-item:nth-child(1) > hr.small:first-child,
.social-comment:first-child > hr.small:first-child{
	display:none;
}
/* Single Post*/
.social-thread .social-item:nth-child(2) > hr.small:first-child,
.social-comment:first-child > hr.small:first-child{
	display:none;
}
.head .media-holder{
	width:40px;
	height:40px;
	overflow:hidden;
	border-radius:100%;
}
.head .media-holder img{
	width:100%;
	height:100%;
	border-radius:100%;
}
.head .time-ago{
	font-size:12px;
}
.footer .icon{
	font-size:18px;
}
.footer .status p{
	font-size:13px;
	line-height:20px;
}
.social-item hr.small{
	margin:0 0 15px;
}
.social-comment hr.small{
	margin-bottom:5px;
}

/* Bottom Message */
.holder.bottom-post{
	background:#fff;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:38px;
	z-index:11;
}
.holder.bottom-post hr{
	margin:0;
}
.holder.bottom-post .post-holder{
	position:relative;
}
.holder.bottom-post .post-holder .add-message{
	width:100%;
	padding:0 49px 0 38px;
}
.holder.bottom-post .post-holder .add-message input{
	border:none;
	padding:8px 6px;
	line-height:21px;
	height:100%;
}
.holder.bottom-post .post-holder .add-media{
	position:absolute;
	left:0px;
	top:0px;
	width:38px;
	height:100%;
	text-align:center;
}
.holder.bottom-post .post-holder .add-media a{
	padding:7px;
	display:inline-block;
}
.holder.bottom-post .post-holder .send-message{
	position:absolute;
	right:0px;
	top:0px; 
	width:49px;
	height:100%;
}
.holder.bottom-post .post-holder .add-media .icon{
	font-size:20px;
}
.holder.bottom-post .post-holder .send-message input{
	border:none;
	background:none;
	height:100%;
}
@media(max-width: 620px){
	p{
		font-size:13px;
	}
}

.text-area-custom{
	border: none;
	height: 38px !important;
	resize: none;
	padding: 2.5% 2%;
}