/* Plugin CSS */
/* Fixed Bottom */
.holder.has-bottom{
	padding-bottom:38px !important;
}
.holder.has-bottom.has-bottom-viewing{
	padding-bottom:65px !important;
}
.holder .bottom.fixed-bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#fff;
	z-index:11;
}
.holder .bottom div{
	padding:0;
}
.holder .bottom .padded{
	padding:15px;
}
.holder .bottom div a{
	display:inline-block;
	width:100%;
	height:100%;
	padding:8px;
	text-decoration:none;
}
.places-plugin .bottom.fixed-bottom .col-xs-4 + .col-xs-4{
	border-left:1px solid rgba(20, 20, 20, 0.25);
}
.places-plugin .bottom.fixed-bottom .col-xs-4.active{
	background:rgba(0,0,0,0.15);
}
.holder .bottom > .hidden-content{
	background:#fff;
}
.holder .places-plugin .bottom,
.holder .fixed-bottom.bottom{
	bottom:-270px;
}
.holder .places-plugin .bottom.active,
.holder .fixed-bottom.bottom.active{
	bottom:0;
}
.holder .bottom .hidden-content .tabs .tab a,
.notification-plugin .tabs .tab a{
	display:block;
	padding-top:10px;
	color:#5f5f5f;
}
.holder .bottom .hidden-content .tabs .tab + .tab,
.notification-plugin .tabs .tab + .tab{
	border-left:1px solid #e5e5e5;
}
.notification-plugin .tabs .tab.active a{
	color:#09a3ee;
}
.holder .bottom .hidden-content .tabs .tab.active:after,
.notification-plugin .tabs .tab.active:after{
	content:'';
	display:block;
	width:100%;
	height:2px;
	background:#09a3ee;
	position:absolute;
	bottom:-1px;
	left:0;
}
.holder .bottom .hidden-content .tab-content .tab{
	display:none;
	height:229px;
	overflow-y:auto !important;
	-webkit-overflow-scrolling:touch !important;
}
.notification-plugin .tabs .tab a{
	padding:14px 8px 10px;
	display:block;
}
.notification-plugin .tab-content .tab{
	display:none;
}
.holder .bottom .hidden-content .tab-content .tab.active,
.notification-plugin .tab-content .tab.active{
	display:block;
}
.holder .bottom .hidden-content .tab-content a,
.notification-plugin .tab-content a{
	height:auto;
}
.holder .bottom .hidden-content .tab-content a.list-item.active{
	background:#09a3ee;
	color:#fff;
}
.holder .bottom .hidden-content .toggle-btns{
	border:1px solid #09a3ee;
}
.holder .bottom .hidden-content .toggle-btns a{
	padding:6px 8px 4px;
	font-size:12px;
	vertical-align:top;
}
.holder .bottom .hidden-content .toggle-btns a.active{
	color:#fff;
}
.holder .bottom .extra-links a{
	position:absolute;
	top:-45px;
	left:10px;
	border-radius:100%;
	font-size:21px;
	padding:7px;
	text-align:center;
	height:35px;
	width:35px;
	color:#fff;
	z-index:13;
	opacity:0.8;
}
.holder .bottom .extra-links a.view-type{
	top:-95px;
	
	top:-45px;
	left:inherit;
	right:10px;
	padding-top:6px;
	font-size:22px;
}
.holder .bottom .viewing-label{
	position:absolute;
	top:-28px;
	padding:3px;
}

.holder .plugin-banner{
	position:relative;
	border-bottom:none !important;
}
.holder .info-bar,
.holder .info-circle{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:10px 0;
	opacity:0.85;
	z-index:9;
}
.holder .info-bar{
	background:rgba(0,0,0,0.8);
}
.holder .info-circle{
	bottom:inherit;
	top:28px;
	left:50%;
	margin-left:-75px;
	width:150px;
	height:150px;
	text-align:center;
	border-radius:100%;
	background:#efefef;
}
.holder .info-circle.bg-white{
	background:rgba(255, 255, 255, 0.8);	
}
.holder .info-circle .info-circle-inner{
	margin-top:33px;
}
.holder .info-circle .info-circle-inner h1{
	font-size:50px;
	line-height:54px;
}
.holder .info-circle.small{
	width:110px;
	height:110px;
	margin-left:-55px;
}
.holder .info-circle.small .info-circle-inner{
	margin-top:11px;
}
.holder .info-bar p{
	max-width:100%;
}
.holder .info-bar .right-icon{
	margin-top:7px;
}
.holder .info-bar .pull-right .padded-icon{
	padding:5px;
	display:inline-block;
	width:30px;
	height:30px;
}
.holder .info-bar .pull-right span.icon{
	font-size:24px;
	vertical-align:middle;
}
.holder .info-bar .pull-right span.icon.icon-sm{
	font-size:14px;
	position:relative;
	top:-2px;
}
.holder .info-bar .pull-right.padded-icon span.icon{
	font-size:18px;
	vertical-align:middle;
}
.social-plugin .head-btn{
	position:relative;
	padding: 12px 12px 10px;
}
.social-plugin .head-btn:before{
	content:'';
	border-bottom:1px solid #ddd;
	opacity:0.25;
	bottom:0;
	left:0;
	position:absolute;
	width:100%;
}
/* End Plugin CSS */


/* Join Group Link */
.head-btn a{
	display:block;
}

/* Group Single Post */
.social-item:nth-child(1) > hr.small:first-child,
.social-comment:first-child > hr.small:first-child{
	display:none;
}
/* Single Post*/
.social-thread .social-item:nth-child(2) > hr.small:first-child,
.social-comment:first-child > hr.small:first-child{
	display:none;
}
.head .media-holder{
	width:40px;
	height:40px;
	overflow:hidden;
	border-radius:100%;
}
.head .media-holder img{
	width:100%;
	height:100%;
	border-radius:100%;
}
.head .time-ago{
	font-size:12px;
}
.footer .icon{
	font-size:18px;
}
.footer .icon.inactive{
	color:#777 !important;
}
.footer .status p{
	font-size:13px;
	line-height:20px;
}
.social-item hr.small{
	margin:0 0 15px;
}
.social-comment hr.small{
	margin-bottom:5px;
}

/* Bottom Message */
.holder.bottom-post{
	background:#fff;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:38px;
	z-index:11;
}
.holder.bottom-post hr{
	margin:0;
}
.holder.bottom-post .post-holder{
	position:relative;
}
.holder.bottom-post .post-holder .add-message{
	width:100%;
	padding:0 50px 0 38px;
}
.holder.bottom-post .post-holder .add-message input{
	border:none;
	padding:8px 6px;
	line-height:21px;
	height:100%;
}
.holder.bottom-post .post-holder .add-media{
	position:absolute;
	left:0px;
	top:0px;
	width:38px;
	height:100%;
	text-align:center;
}
.holder.bottom-post .post-holder .add-media a{
	padding:7px;
	display:inline-block;
}
.holder.bottom-post .post-holder .send-message{
	position:absolute;
	right:0px;
	top:0px; 
	width:49px;
	height:100%;
}
.holder.bottom-post .post-holder .add-media .icon{
	font-size:20px;
	line-height:24px;
	color:inherit !important;
	position:relative;
	top:1px;
}
.holder.bottom-post .post-holder .send-message input{
	border:none;
	background:none;
	height:100%;
	width:100%;
	padding-top:11px;
}
@media(max-width: 620px){
	p{
		font-size:13px;
	}
}

.text-area-custom{
	border: none;
	height: 38px !important;
	resize: none;
	padding: 2.5% 2%;
	line-height:25px;
	position:relative;
	top:3px;
	width:100%;
}

/* BOF Upload image section with uploader and cross */
.uploadifive-queue-item {
    background-color: #F5F5F5;
    border-bottom: 1px dotted #D5D5D5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: 12px Arial, Helvetica, Sans-serif;
    margin-top: 3px;
    padding: 15px;
}
.uploadifive-queue-item .progress {
    border: 1px solid #D0D0D0;
    height: 3px;
    margin: 5px 0;
    width: 100%;
}
.cross-icon {
    float: right;
    height: 16px;
    /* margin-top: -120px; */
    width: 16px;
    color: #333 !important;
    z-index: 1 !important;
}
.image-upload-queue {
    margin: 10px;clear: both;
}
.send-btn {
    height: 35px !important;
}
.post-container {
    height: inherit !important;
}
.filename {
    color: #555555 !important;
}
/* EOF Upload image section with uploader and cross */

/* Play Btn */
.play-btn{
	position:relative;
}
.play-btn:after{
	content:"\e612";
	font-family:'icomoon';
	position:absolute;
	width:30px;
	height:26px;
	color:#fff;	
	font-size:30px;
	line-height:24px;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-15px;
}
.list-item-media .list-media-holder.play-btn:after{
	font-size:24px;
	width:24px;
	margin-left:-12px;
	margin-top:-12px;
}

/* For IOS input focus issue
*/

textarea {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

/* Modal */
.modal{
	height:100%;
	background:rgba(0,0,0,0.8);
}
.modal .modal-dialog{
	position:relative;
	top:40%;
	transform:translateY(-50%) !important;
	margin:0 15px !important;
}