<!DOCTYPE html>
<html lang="en" ng-app="socialPluginWidget">
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../styles/helper.css">
    <link rel="stylesheet" href="../../../styles/transitionAnimation.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- JS -->
    <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../scripts/smartcrop.js"></script>
    <script src="../../../scripts/buildfire.js"></script>
    <script src="../../../scripts/angular/angular.min.js"></script>
    <script src="../../../scripts/angular/angular-route.min.js"></script>
    <script src="../../../scripts/angular/ui-bootstrap.min.js"></script>
    <script src="assets/js/ng-file-upload.min.js"></script>
    <script src="assets/js/ng-file-upload-shim.min.js"></script>
    <script src="assets/js/moment.js"></script>
    <script src="modals.js"></script>
    <script src="app.js"></script>
    <script src="../../../scripts/angular/ng-infinite-scroll.custom.js"
            type="application/javascript"></script>
    <script src="../../../scripts/angular/angular-animate.min.js"></script>
    <script src="app.service.js"></script>
    <script src="enums.js"></script>
    <script src="assets/js/filters.js"></script>
    <script src="controllers/widget.wall.controller.js"></script>
    <script src="controllers/widget.thread.controller.js"></script>

    <script>
        moment().format();
    </script>
    <!-- Meta -->
    <meta charset="utf-8">
</head>
<body class="scrollable">
<div class="main_view">
    <div  ng-show="showThread" ng-controller="WidgetWallCtrl as WidgetWall" ng-cloak>
        <div class="slide content">
            <div class="padding-zero" style="height: 100%;">
                <div class="social-plugin social-wall" style="height: calc(100% - 39px)">
                    <div class="head-btn text-center margin-bottom-fifteen" style="margin:0 !important;">
                        <a ng-click="WidgetWall.followUnfollow(WidgetWall.getFollowingStatus())" class="ng-cloak">{{WidgetWall.getFollowingStatus()}}</a>
                    </div>
                    <div style="overflow-x:hidden; width:100%; overflow-y: auto;height: calc(100% - 47px); padding-top: 15px !important;" class="infinite-scroll-parent">
                        <div style="height: 20px;" id="top" infinite-scroll-distance="0"
                             data-infinite-container=".infinite-scroll-parent"
                             infinite-scroll="WidgetWall.SocialItems.posts()"
                             infinite-scroll-disabled="WidgetWall.SocialItems.busy" ng-cloak>
                            <div class="social-item clearfix" ng-repeat="post in WidgetWall.SocialItems.items">
                                <hr class="small">
                                <div class="head row clearfix padding-left-ten padding-right-ten margin-bottom-fifteen">
                                    <div class="col-xs-8 pull-left">
                                        <div class="media-holder pull-left ng-cloak" ng-click="WidgetWall.buildfire.auth.openProfile(post.userId)">
                                            <img ng-if="WidgetWall.getUserImage(post.userId)" load-image="1x1"
                                                 data-final-src="{{WidgetWall.usersData | getUserImage: post.userId}}">
                                            <img ng-if="!WidgetWall.getUserImage(post.userId)" load-image="1x1"
                                            data-final-src="../../../styles/media/avatar-placeholder.png">
                                        </div>
                                        <p class="text-primary ellipsis margin-top-ten margin-bottom-zero padding-left-ten">
                                            <a class="text-primary ng-cloak" ng-click="WidgetWall.buildfire.auth.openProfile(post.userId)">{{WidgetWall.getUserName(post.userId)}}</a>
                                        </p>
                                    </div>
                                    <div class="col-xs-3 pull-right margin-top-ten text-right">
                                        <span class="time-ago opacity-seventy ng-cloak">{{WidgetWall.getDuration(post.createdOn) | convertTimeFormat}}</span>
                                    </div>
                                </div>
                                <!--<a href="#" class="btn-delete-icon btn-danger" ng-click="WidgetWall.deletePost(post._id)" ng-if="WidgetWall.SocialItems.userDetails.userId == post.userId" style="float: right;margin-right: 5px;z-index: 1 !important;"></a>-->
                                <div class="copy padding-left-ten padding-right-ten margin-bottom-fifteen">
                                    <p class="margin-zero cursor-pointer">
                                        <span ng-click="WidgetWall.goInToThread(post.uniqueLink)" ng-bind-html="(post.text | limitTo : (post.limit || 150) :0) | newLine"></span>
                                        <span ng-if="(post.text.length>150 && !post.seeMore)" class="ng-cloak">...</span>
                                        <a ng-if="(post.text.length>150 && !post.seeMore)" ng-click="WidgetWall.seeMore(post)" class="ng-cloak">Read More</a>
									</p>
                                </div>
                                <div class="plugin-banner clearfix margin-bottom-fifteen" ng-if="post.imageUrl">
                                    <div class="plugin-slide text-center">
                                        <a href="#/thread/{{post.uniqueLink}}">
											<img load-image="16x9" data-final-src="{{post.imageUrl | resizeImage :342 : 193}}">
										</a>
                                    </div>
                                </div>
                                <div class="footer clearfix" style="margin-bottom:6px;">
                                    <div class="icons col-xs-3 padding-right-zero padding-left-ten pull-left">
                                        <a class="social-icon ng-cloak" ng-click="WidgetWall.likeThread(post, 'thread')">
                                            <span class="icon icon-heart" ng-class="{inactive: WidgetWall.isLikedByLoggedInUser(post._id)}"></span>
                                        </a>
                                        <a href="#/thread/{{post.uniqueLink}}" class="social-icon margin-left-twenty ng-cloak">
                                            <span class="icon icon-bubble"></span>
                                        </a>
                                    </div>
                                    <div class="status col-xs-9 padding-left-zero padding-right-ten pull-right">
                                        <div class="pull-right">
                                            <p class="pull-left margin-bottom-zero opacity-seventy ng-cloak">{{post.likesCount}} Like<span ng-hide="post.likesCount == 1">s</span></p>
                                            <p class="pull-left margin-bottom-zero margin-left-twenty opacity-seventy ng-cloak">{{post.commentsCount}} Comment<span ng-hide="post.commentsCount == 1">s</span></p>
                                            <a class="more-info ng-cloak" ng-click="WidgetWall.showMoreOptions(post)">
                                                <span class="pull-left icon icon-ellipsis margin-left-twenty"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="WidgetWall.SocialItems.items.length<=0">
                            <h5 class="text-center margin-top-fifteen">You do not have any posts yet.</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="holder padding-zero bottom-post bodyBackgroundTheme post-container">
		    <hr class="small">
            <form ng-submit="" handle-phone-submit>
            <div class="post-holder clearfix">
                <div class="add-media">
                    <a>
                    <span class="icon icon-camera2 text-primary" ngf-select="WidgetWall.uploadImage($file)"
                          ng-model="WidgetWall.picFile" ngf-pattern="'image/*'" ngf-multiple="false"
                          ngf-accept="'image/*'" accept="image/*" ngf-allow-dir="true"
                          name="files"></span>
                    </a>
                </div>
                <div class="add-message pull-left">
                    <textarea rows="1" cols="30" placeholder="Type your message..." name="text"
                           ng-model="WidgetWall.postText" class="text-area-custom"></textarea>
                </div>
                <div class="send-message">
                    <input type="submit" class="text-primary send-btn" value="Send" ng-click="WidgetWall.createPost($event)">
                </div>
                <div class="image-upload-queue ng-cloak" ng-if="WidgetWall.imageSelected">
                    <div class="uploadifive-queue-item"><a ng-click="WidgetWall.cancelImageSelect()" class="btn-delete-icon cross-icon"></a>
                        <div><span class="filename">{{WidgetWall.imageName}}</span></div>
                        <div class="progress" ng-if="WidgetWall.showImageLoader">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
                </form>
        </div>
    </div>
    <div class="content" ng-view="" ng-hide="showThread"><h5 class="titleBarTheme text-center" style="margin-top: 35px;">Something went wrong!! Please try again</h5></div>


</div>
</body>
</html>