<!DOCTYPE html>
<html lang="en" ng-app="buildfire">
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">

	<!-- Plugin CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Meta -->
	<meta charset="utf-8">
</head>
<div class="holder padding-zero has-bottom">
	<div class="social-plugin social-wall">				
		<div class="padded head-btn text-center border-bottom-grey padding-bottom-ten margin-bottom-fifteen">
			<a>Join Group</a>			
		</div>
		<div class="social-item clearfix">
			<hr class="small">
			<div class="head row clearfix padding-left-ten padding-right-ten margin-bottom-fifteen">
				<div class="col-xs-8 pull-left">
					<div class="media-holder pull-left">
						<img src="http://www.placehold.it/100x100">
					</div>
					<p class="text-primary ellipsis margin-top-ten margin-bottom-zero padding-left-ten">
						<a class="text-primary">Jackie Conrad</a>
					</p>
				</div>
				<div class="col-xs-3 pull-right margin-top-ten text-right">
					<span class="time-ago opacity-seventy">2h</span>
				</div>
			</div>
			<div class="copy padding-left-ten padding-right-ten margin-bottom-fifteen">
				<p class="margin-zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="plugin-banner clearfix margin-bottom-fifteen">
				<div class="plugin-slide text-center">
					<img src="http://www.placehold.it/720x380.jpg">
				</div>
			</div>
			<div class="footer margin-bottom-ten clearfix">
				<div class="icons col-xs-3 padding-right-zero padding-left-ten pull-left">
					<a class="social-icon">
						<span class="icon icon-heart"></span>
					</a>
					<a class="social-icon margin-left-twenty">
						<span class="icon icon-bubble"></span>
					</a>
				</div>
				<div class="status col-xs-9 padding-left-zero padding-right-ten pull-right">
					<div class="pull-right">
						<p class="pull-left margin-bottom-zero">9 Likes</p>
						<p class="pull-left margin-bottom-zero margin-left-twenty">5 Comments</p>
						<a class="more-info">
							<span class="pull-left icon icon-ellipsis margin-left-twenty"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="social-item clearfix">
			<hr class="small">
			<div class="head row clearfix padding-left-ten padding-right-ten margin-bottom-fifteen">
				<div class="col-xs-8 pull-left">
					<div class="media-holder pull-left">
						<img src="http://www.placehold.it/100x100">
					</div>
					<p class="text-primary ellipsis margin-top-ten margin-bottom-zero padding-left-ten">
						<a class="text-primary">Jackie Conrad</a>
					</p>
				</div>
				<div class="col-xs-3 pull-right margin-top-ten text-right">
					<span class="time-ago opacity-seventy">2h</span>
				</div>
			</div>
			<div class="copy padding-left-ten padding-right-ten margin-bottom-fifteen">
				<p class="margin-zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="footer margin-bottom-ten clearfix">
				<div class="icons col-xs-3 padding-right-zero padding-left-ten pull-left">
					<a class="social-icon">
						<span class="icon icon-heart"></span>
					</a>
					<a class="social-icon margin-left-twenty">
						<span class="icon icon-bubble"></span>
					</a>
				</div>
				<div class="status col-xs-9 padding-left-zero padding-right-ten pull-right">
					<div class="pull-right">
						<p class="pull-left margin-bottom-zero">9 Likes</p>
						<p class="pull-left margin-bottom-zero margin-left-twenty">5 Comments</p>
						<a class="more-info">
							<span class="pull-left icon icon-ellipsis margin-left-twenty"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="social-item clearfix">
			<hr class="small">
			<div class="head row clearfix padding-left-ten padding-right-ten margin-bottom-fifteen">
				<div class="col-xs-8 pull-left">
					<div class="media-holder pull-left">
						<img src="http://www.placehold.it/100x100">
					</div>
					<p class="text-primary ellipsis margin-top-ten margin-bottom-zero padding-left-ten">
						<a class="text-primary">Jackie Conrad</a>
					</p>
				</div>
				<div class="col-xs-3 pull-right margin-top-ten text-right">
					<span class="time-ago opacity-seventy">2h</span>
				</div>
			</div>
			<div class="copy padding-left-ten padding-right-ten margin-bottom-fifteen">
				<p class="margin-zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="plugin-banner clearfix margin-bottom-fifteen">
				<div class="plugin-slide text-center">
					<img src="http://www.placehold.it/720x380.jpg">
				</div>
			</div>
			<div class="footer margin-bottom-ten clearfix">
				<div class="icons col-xs-3 padding-right-zero padding-left-ten pull-left">
					<a class="social-icon">
						<span class="icon icon-heart"></span>
					</a>
					<a class="social-icon margin-left-twenty">
						<span class="icon icon-bubble"></span>
					</a>
				</div>
				<div class="status col-xs-9 padding-left-zero padding-right-ten pull-right">
					<div class="pull-right">
						<p class="pull-left margin-bottom-zero">9 Likes</p>
						<p class="pull-left margin-bottom-zero margin-left-twenty">5 Comments</p>
						<a class="more-info">
							<span class="pull-left icon icon-ellipsis margin-left-twenty"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="holder padding-zero bottom-post bodyBackgroundTheme">
	<hr class="small">
	<div class="post-holder clearfix">
		<div class="add-media">
			<a>
				<span class="icon icon-camera2 text-primary"></span>
			</a>
		</div>
		<div class="add-message pull-left">
			<input type="text" class="form-control" placeholder="Type your message...">
		</div>
		<div class="send-message">
			<input type="submit" class="text-primary" value="Send">
		</div>
	</div>
</div>